<h2>About</h2>
<p>
  Golf Swingは、スイング管理に特化したコミュニティサイトです。</br>
  みんなでスウィングを共有することでモチベーションを上げ、1人での悩みすぎを防ぐことができます。</br>
  また、日々のスウィングを管理する事で後から研究したり、成長を目で確認することが可能です。
</p>

<h2>Golf Swingからのお願い！</h2>
<p>
  ゴルフスウィング以外の投稿や不適切な内容のコメントが見受けられた場合、管理側で削除させて頂くことがあります。</br>
  また、他人を傷つけるようなコメントは絶対にしないようお願い申し上げます。
</p>

<h2>インフォメーション</h2>
<% @infomations.each do |infomation| %>
  <%= infomation.content %>
<% end %>

