<% if error_comment.present? %>
  <div id="error_explanation">
    <p class="text-secondary"><%= error_comment.errors.count %>件のエラーが発生しました</p>
    <ul>
      <% error_comment.errors.full_messages.each do |message| %>
        <li class="text-secondary"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>