<%= form_with model: [post_video, post_comment], url: public_post_video_post_comments_path(post_video) do |f| %>
<!--エラーメッセージ-->
<%= render 'public/post_comments/error', error_comment: @error_comment %>
<div class="text-center">
  <%= f.text_area :comment, rows:'5', placeholder:"コメントをここに", class:"form-control form-control-sm", id: 'js-new-comment-body' %>
</div>
<div class="text-center mt-2 pb-2">
  <%= f.submit "投稿" %>
</div>
<% end %>