<h2>ブックマーク一覧</h2>
<% @bookmarks.each do |bookmark| %>
  <%= link_to public_post_video_path(bookmark.post_video) do %>
    <%= video_tag rails_blob_path(bookmark.post_video.get_video), :width => "320", :height => "240" %>
  <% end %>
<% end %>
