<div class="container">
  <h4 class="text-center mt-4 text-secondary">Bookmarks</h4>
  <div class="row">
    <div class="col-sm d-flex flex-wrap mt-4">
      <% @bookmarks.each do |bookmark| %>
        <%= link_to public_post_video_path(bookmark.post_video) do %>
          <%= video_tag rails_blob_path(bookmark.post_video.get_video), :width => "200", :height => "120" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


